.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mazePlaceholder {
    padding-bottom: 100px
}

.maze {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  /* background-color: #d2b3a9; */
}

tr td {
  border: 1px solid black;
  background-color: #5e646d;
  user-select: none;
  width: 100vh;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  to {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.editing {
  animation: fadeIn 1s infinite alternate;
  -webkit-animation: flickerAnimation 1s steps(5, start) infinite;
}

.editable {
  position: relative;
  transition: 0.3s all;
}

.editable:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.field {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
}
.field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.selected {
  text-decoration: underline;
}

.bar {
  width: inherit;
  background: #6fd967;
  background-color: Black;
  background-image: linear-gradient(
      to bottom right,
      rgba(230, 100, 101) 0,
      rgba(230, 100, 101) 1px,
      transparent 1px,
      transparent 67px,
      rgba(230, 100, 101) 67px,
      rgba(230, 100, 101) 73px,
      transparent 73px,
      transparent 138px,
      rgba(230, 100, 101) 138px,
      rgba(230, 100, 101) 144px,
      transparent 144px
    ),
    linear-gradient(
      to bottom left,
      rgba(230, 100, 101) 0,
      rgba(230, 100, 101) 1px,
      transparent 1px,
      transparent 67px,
      rgba(230, 100, 101) 67px,
      rgba(230, 100, 101) 73px,
      transparent 73px,
      transparent 138px,
      rgba(230, 100, 101) 138px,
      rgba(230, 100, 101) 144px,
      transparent 144px
    );
  background-size: 100px 100px, 100px 100px;
  background-position: 50% 50%, 50% 50%;
  background-repeat: repeat;
}

.path {
  background-color: SpringGreen;
}

.closed {
  background-color: #c80003;
}

.node {
  background-color: LimeGreen;
  user-select: none;
  cursor: grab;
}
